@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html, body, #root {
		@apply bg-black text-white w-full h-full font-space-grotesk outline-none
	}
}